@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}



/* HEADER - BEGINS */
header {
  width: 100%;
  background: #252525;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  height: 80px;
}

.menu-nav ul {
  display: flex;
}

.menu-nav a {
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px;
}
/* HEADER - END */



/* SECTION BANNER - BEGINS */
section.banner {
  background-image: url("../img/bg-intro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 138px 0;
}

.banner-container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.banner-container h1 {
  font-size: 3em;
  text-transform: uppercase;
  line-height: 1em;
  color: #ffffff;
}

.banner-container h1::after {
  content: "";
  display: block;
  margin: 15px auto 15px auto;
  width: 20px;
  height: 6px;
  background-color: #ffffff;
}

.banner-container p {
  font-size: 1.125em;
  color: #ffffff;
  font-style: italic;
}
/* SECTION BANNER - END */



/* MAIN ABOUT BEGIN */
main {
  width: 100%;
  padding: 60px 0;
}

main .about-container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.about-container h1 {
  font-size: 2.25em;
  margin-bottom: 60px;
  text-align: center;
}

.about-container .about-items {
  display: flex;
  flex-wrap: wrap;
}

.about-items .item{
  flex: 1;
}

.about-items .item:first-child {
  margin: 0 10px 0 0;
}

.about-items .item + .item {
  margin: 0 0 0 10px;
}

.about-items .item h2{
  width: 220px;
  font-size: 2.25em;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  color: #ffffff;
  background: #252525;
  padding: 15px 0px;

  position: relative;
  top: -32px;
}

.about-container p{
  max-width: 460px;
  text-align:center;
  font-size: 1.125em;
  margin: 0 auto;
  line-height: 1.4em;
  font-style: italic;
}
/* MAIN ABOUT END */



/* SECTION PRODUTOS - BEGIN */
section.produtos{
  width: 100%;
  background: #e7e4d8;
  border-top: 3px solid #d6d3c8;
  border-bottom: 3px solid #d6d3c8;
  padding: 60px 0;
}

.produtos-container{
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  display: flex;
}

.produtos-item{
  width: 300px;
  flex: 1;
}

.produtos-item h2{
  font-size: 2.25em;
  margin-bottom: 30px;
}

.produtos-item h2::before{
  content: '';
  display: block;
  margin: 0 auto 25px auto;
  width: 100px;
  height: 100px;
  background: currentColor;
  border-radius: 50%;
  border: 5px solid #e7e4d8;
  box-shadow: 0 0 0 10px currentColor;
}

.produtos-item h2.produtos-paulista::before{
  color: #492901;
}

.produtos-item h2.produtos-nordestino::before{
  color: #c17139;
}

.produtos-item h2.produtos-mineiro::before{
  color: #d7a54d;
}

.produtos-item p{
  font-size: 0.875em;
}

.produtos a{
  display: block;
  margin: 60px auto 0px auto;
  width: 180px;
  color: #252525;
  padding: 18px 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.125em;
  font-weight: bold;
  border: 3px solid;
}
/* SECTION PRODUTOS - END */



/* SECTION LUGARES BEGIN */
section.lugares{
  width: 100%;
  padding: 70px 0;
}

.lugares-container{
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.lugar-item{
  display: flex;
  margin: 0 auto 65px auto;
}

.lugar-item .item-img{
  margin-right: 10px;
}

.lugar-item .item-desc{
  margin-left: 10px;
}

.lugar-item:last-child{
  margin: 0 auto;
}

.lugar-item .item-img,
.lugar-item .item-desc{
  max-width: 460px;
}

.lugar-item .item-desc h2{
  font-size: 2.25em;
  margin-bottom: 20px;
}

.lugar-item .item-desc p{
  max-width: 320px;
  line-height: 1.4em;
  margin-bottom: 30px;
}

.lugar-item .item-desc a{
  display: block;
  width: 150px;
  padding: 15px 0;
  font-size: 1.125em;
  text-transform: uppercase;
  text-align: center;
  border: 3px solid #252525;
  color: #252525;
}
/* SECTION LUGARES END */